<ActionBar title="Auxo Sample Login" class="action-bar">
</ActionBar>
<StackLayout class="page p-10">
    <StackLayout class="input-field p-t-15">
        <Label text="Email" class="label font-weight-bold"></Label>
        <TextField [(ngModel)]="email" class="input input-rounded"></TextField>
    </StackLayout>
    <StackLayout class="input-field p-t-15">
        <Label text="Password" class="label font-weight-bold"></Label>
        <TextField [(password)]="password" secure="true" class="input input-rounded"></TextField>
    </StackLayout>
    <Button [text]="!isLogin ? 'Signin' : 'Login'" (tap)="submit()"></Button>
    <FlexboxLayout flexDirection="row" class="p-t-15">
    	<Label width="220" [text]="!isLogin ? 'Back to Login' : 'If new.. Plz Signin'" (tap)="ifNew()" class=""></Label>
    	<Label text="Forgot Password" (tap)="forgotPassword()" class="text-right"></Label>
    </FlexboxLayout>
</StackLayout>